<launch>

<arg name="gui" default="true" />

<param name="robot_description" textfile="/home/olly/ros_ws/src/sam/src/stls/samcad.urdf" />
<param name="use_gui" value="$(arg gui)"/>

<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

<node type="rviz" name="rviz" pkg="rviz" args="-d /home/olly/default.rviz" />

</launch>
